.password-inputs{
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.password-inputs input{
    width: 350px;
    height: 40px;
}