.password-inputs{
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.password-inputs input{
    width: 350px;
    height: 40px;
    text-align: center;
}
.password-inputs label{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    font-size: 20px;
    font-weight: bold;
}