.income-layout{
position: absolute;
top: 240px;
left: 100px;
}
.month-layout{
    margin-top: 30px;
}
.saving-layout{
    position: absolute;
    top: 490px;
    margin-left: 100px;
}
.payment-layout{
    position: absolute;
    top: 240px;
    margin-left: 40%;
}