.saving-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}
.amount-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.allocation-list{
    list-style: none;
    max-height: 120px;
    overflow-y: auto;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
}
/* .allocation-list::-webkit-scrollbar {
  width: 6px;
} */
.amount-form input{
    height: 25px;
    margin-left: 5px;
    transform: translateY(-2px);
    text-align: center;
}
.category-type{
    margin-top: 60px;
}
.category-type select{
    background-color: rgba(58, 85, 153, 0.8);
    border-radius: 6px;
    height: 45px;
    border: 1px solid black  ;
    color: white;
}
.category-type select:hover{
    background-color: rgba(58, 85, 153, 1);

}
.category-type input{
    margin-bottom: 10px;
    height: 40px;
    width: 50%;
    text-align: center;
}

.saving-button{
    margin-top: auto;
}