.modal-container{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.input-amount{
    margin-top: 30px;
}
.input-amount input{
    width: 250px;
    height: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.radio-group input[type="radio"] {
  transform: scale(2); /* 2倍の大きさにする */
  margin-right: 8px;
}
.radio-group label {
  margin-right: 16px;
  font-size: 25px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}
.radio-group{
    margin-top: 30px;
}
.select-category select{
    width: 250px;
    height: 50px;
    background-color: rgba(58, 85, 153, 0.8);
    color: white;
    border-radius: 4%;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.memo textarea{
    background-color: rgba(58, 85, 153, 0.8);
    border-radius: 5%;
    border: 1px solid black;
    width: 250px;
    height: 90px;
    color: white;
    font-size: 20px;
    text-align: center;
}
.memo h2{
    margin-top: 15px;
    margin-bottom: 5px;
}
.date-lay h2{
    margin-top: 15px;
    margin-bottom: 5px;
}
.date-lay input{
     width: 250px;
    height: 35px;
    text-align: center;
}
.radio-group h2{
    margin-top: 15px;
    margin-bottom: 15px;
}
.index-button{
    margin-top: 30px;
}
@keyframes slideInright {
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes slideInleft{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}
.slide-in-right{
    animation: slideInright 0.3s ease forwards;
}
.slide-in-left{
    animation: slideInleft 0.3s ease forwards;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.slide-in-left input{
    height: 35px;
    width: 250px;
}
.slide-in-left select{
    width: 255px;
    height: 35px;
    background-color: rgba(58, 85, 153, 1);
    border: 1px solid black;
}